<template>
  <div>
    <Row class="expand-row">
 		#foreach($field in $fList)
            <i-col span="6">
            	<span class="expand-key">${field.comment}</span>
            	<span class="expand-value">{{ row.${field.lower_camel} }}</span>
            </i-col>
        #end
    </Row>
  </div>
</template>
<script>
  export default {
    props: {row: Object}
  };
</script>
<style scoped>
  .expand-row {
    margin-bottom: 6px;
  }
  .expand-key {
    font-weight: bold;
    line-height: 25px;
  }
  .expand-value {}
</style>
 